@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$headerFont: 'Fugaz One';

:root{
	font-size: 16px;
}

*{
	//border: 1px solid red;
}

body{
	font-family: $headerFont;
	margin: 0;
	padding: 0;
}

//remove scrollbar


main{
	margin-left: 5rem
}


.nav-bar{
	width: 5rem;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: rgb(216, 114, 148);
	opacity: 90%;
	.links{
		height: 100vh;
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
		.nav-link{
			height:15%;
		}
		.link-text{
			display: none
		}
		img{
			filter: grayscale(90%);
			max-height: 70%;
			max-width: 5rem;
		}
		img:hover{
			filter: grayscale(10%);
		}
		.nav-card:hover .nav-link{
			
			.link-text{
				display: block;
			}
		}
	}
}

.chat-page{
	height: 100vh;
	border: 1px dotted red;
	display: flex;
	align-items: center;
	justify-content: center;
	.chat-widget{
		border: 1px dotted red;
		.message-queue{
			border: 1px dotted blue;
		}
	}
}
