*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #61dafb;
}

.todo-widget{
  color:aquamarine;
  border: 1px solid red;
  margin: 0 10% 0 10%;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}
